<div id="video-container">
    <video id="video" class="video" autoplay onloadstart="resizeVideo()" onended="videoEnded('mobile')">
		<source src="video/Intro_432_288_Phone.mp4" type="video/mp4">
    </video>
</div>

<div id="content-container" class="container mobile-background">

    <div class="container top">

        <img class="img-responsive" src="images/mobile-top.jpg"/>

    </div>

    <div class="container middle">

        <div class="row">

            <div id="the_garage_door" ng-bind-html="mobile_garage_door"></div>

        </div>

    </div>

    <div class="container bottom">

        <img class="img-responsive" src="images/mobile-bottom.jpg"/>

        <div class="row controls row-centered">

            <div class="col-xs-6 open-btn col-centered">

                <img ng-click="modelReact('open')" class="img-btn img-responsive" src="images/mobile-button-up.png" alt="">
                <img class="img-copy img-responsive" src="images/Text_open.png" alt="">

            </div>

            <div class="col-xs-6 close-btn col-centered">

                <img ng-click="modelReact('close')" class="img-btn img-responsive" src="images/mobile-button-down.png" alt="">
                <img class="img-copy img-responsive" src="images/Text_close.png" alt="">

            </div>

        </div>

    </div>  
   
</div>
