$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$intel-dark-blue:  #003c71;
$intel-blue: #00AEEF;
$intel-light-blue: #0071C5;
$intel-white: #fff;
$intel-light-grey: #dfe6e9;
$intel-log-grey: #dbddde;
$intel-button-border: #BBBBBB;
$intel-orange: #fc4c02;
$intel-red: #ef4f23;
$intel-inventory-grey: #f2f2f2;
$intel-log-red: #fc4c02;
$intel-log-green: #c3d341;
$intel-log-blue: #1caeeb;

$intel-inventory-light-blue: $intel-light-blue;
$intel-inventory-dark-blue: $intel-dark-blue;
$intel-inventory-red: #FC4C02;
