$pager-border-radius: 50px !default;
$intel-dark-blue:  #2171b9;
$intel-blue: #00aeef;
$intel-light-blue: #c4dee9;
$intel-white: #fff;
$intel-light-grey: #dfe6e9;
$intel-log-grey: #dbddde;
$intel-dark-grey: #3a3a3c;
$video_display: block;
$background_display: none;

@media screen and (min-width: 1280px) {

	#video-container {
		display: $video_display;
		text-align: center;

		video {
			width: 1280px;
		}

	}

	.btn-primary {
	    font-size: 25px;
	}

	.col-md-3.nav-width {
		background: url('../images/House_blur_250.jpg') no-repeat;
		height:800px;
		width:250px;

		button {
			height:50px;
			width:100%;
		}

		button:first-child {
			margin-top:34px;
		}

		.last-actions-container{
			margin-bottom: 96px;

			.last-actions{
				overflow:hidden;
				height:109px;
				position:relative;
			}

			.lastAction {
				padding: 10px 12px;
				height:40px;
				font-size:16px;
			}

			.sensor-type {
				width:75px;
				font-size: 15px;

			}

			img {
				width: 62px;
			}

			.animate-last-action {
				height:69px;
			}

		}

		#animation-container {
			margin:0 25px 0 25px; 
		    height: 224px;
		    width: 198px;	
		    top: 579px;

			.animate-slide {
				height: 221px;
				left:42%;

				.status-title {
				    font-size: 16px;
				    height: 30px;
				    padding-top: 5px;
				}

				.status-log {
					font-size: 14px;

					.title {
						padding-top:10px;
					}
				}

			}

			.animate-slide.ng-hide {
				top: 191px;		
			}

		}

		#slide{
		  position:absolute;
		  width:100%;
		  height:100px;
		  top:90%;
		  background: red;
		}  

		/* Chrome, Safari, Opera */
		@-webkit-keyframes slide-up
		{
		  0%   {top:150px;}
		  100%  {top:0;}
		}

		/* Standard syntax */
		@keyframes slide-up
		{
		  0%   {top:150px;}
		  100%  {top:0;}
		}

		/* Chrome, Safari, Opera */
		@-webkit-keyframes slide-down
		{
		  0%  {top:0;}
		  100%   {top:150px;}
		}

		/* Standard syntax */
		@keyframes slide-down
		{
		  0%  {top:0px;}
		  100%   {top:150px;}
		}


	}

	.container.admin-background {
		width:1280px;

		#sensor_container{

			#the_door_bell{

			    top: 408px;
			    left: 70px;

				img {
				    width: 130px;
				    height: 130px;
				}

			}

			#the_front_door{
			    top: 354px;
			    left: 129px;

				img {
				    width: 134px;
				    height: 249px;
				}

			}

			#the_garage_door{

			    top: 365px;
			    left: 367px;

				img {
				    width: 530px;
				    height: 269px;
				}

			}

			.cloudIcon{

			    position: absolute;
			    top: 17px;
			    left: 13px;
			    z-index: 5;

				img{
				    width: 43px;
				    height: 43px;
				}

			}

		}

	}

	.parts-hover.sensor{
		width:150px;
	}

}