$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$pager-border-radius: 50px !default;
$intel-dark-blue:  #2171b9;
$intel-blue: #00aeef;
$intel-light-blue: #c4dee9;
$intel-white: #fff;
$intel-light-grey: #dfe6e9;
$intel-log-grey: #dbddde;
$intel-dark-grey: #3a3a3c;
$video_display: block;
$background_display: none;

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/*   .clear prevents divs from flaoting out side a container div.   */
.clear{
	height:0;
	font-size:0;
	line-height:0;
	clear:both;
}

/* Typography
================================= */

@font-face {
    font-family: "IntelClear_BdIt";
    src: url("../fonts/IntelClear_BdIt.ttf") format("truetype");   
}

@font-face {
    font-family: "IntelClear_It";
    src: url("../fonts/IntelClear_It.ttf") format("truetype");   
}

@font-face {
    font-family: "IntelClear_Lt";
    src: url("../fonts/IntelClear_Lt.ttf") format("truetype");   
}

@font-face {
    font-family: "IntelClear_LtIt";
    src: url("../fonts/IntelClear_LtIt.ttf") format("truetype");   
}

@font-face {
    font-family: "IntelClear_Bd";
    src: url("../fonts/IntelClear_Bd.ttf") format("truetype");   
}

@font-face {
    font-family: "IntelClear_Rg";
    src: url("../fonts/IntelClear_Rg.ttf") format("truetype");   
}

@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
	margin-right:17px;
	padding-left:20px;
}

.flaticon-arrows:before { content: "\f100"; }
.flaticon-arrows-1:before { content: "\f101"; }
.flaticon-arrows-2:before { content: "\f102"; }
.flaticon-arrows-3:before { content: "\f103"; }
.flaticon-circle:before { content: "\f104"; }
.flaticon-circle-1:before { content: "\f105"; }

/* Layout
================================= */

body {
  padding: 0;
  background-color:#fff;
}

.body-container {
	padding:0;
	max-width: 1280px;
	margin:0 auto;
	height:100%;
}

.container.admin-background {
	display: $background_display;
    background: url('../images/Background_Admin_image_144.jpg') #095b8a top center no-repeat;
    background-size: 100%;
	width: 1024px;

	#content-container {
		width:100%;

	}

}

.container.mobile-background {
	display: $background_display;
	padding:0;
	
	.container.top {
		padding:0;

		img{
			width:100%
		}
		
	}

	.container.middle {
	    background: url('../images/mobile-middle.jpg') #000 top center no-repeat;
	    background-size: 100%;
	    padding:0;

	    .row{
    		margin-top: -1.5px;
    		margin-left: 7.7%;
    		margin-right:7.4%;
	    }

	}

	.container.bottom {
	    padding:0;
	    position: relative;
		
	    .row{
		    margin-left:19.6%;
		    margin-right:19.6%;
		    margin-top: 10%;
		    margin-bottom: 149px;
		}

		.controls {
			text-align: center;
			position: absolute;
			z-index: 2;
			top:0px;
			left:0px;

			img.img-btn {
				cursor: pointer;
				-webkit-border-radius: 30px;
				-moz-border-radius: 30px;
				border-radius: 30px;
				-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
				-moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 1);
				box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 1);
			}

			.open-btn, .close-btn {

				float:left;

				img.img-btn:hover{ // http://codepen.io/anon/pen/ilqnb
					-webkit-box-shadow: 0px 0px 60px 0px rgba(249, 162, 26, 0.67);
					-moz-box-shadow:    0px 0px 60px 0px rgba(249, 162, 26, 0.67);
					box-shadow:         0px 0px 60px 0px rgba(249, 162, 26, 0.67);
				}

			}

			img.img-copy {
				margin: 20px auto 0 auto;
			}

		}

	}

}


/* Navigation
================================= */
.col-md-3.nav-width {
	
	background: url('../images/House_blur_201.jpg') no-repeat;
	height:640px;
	overflow:hidden;
	width:201px;
	text-align: center;
	padding:0;
	
	.btn:focus, .btn.focus, .btn:active:focus, 
	.btn:active.focus, .btn.active:focus, .btn.active.focus {
		box-shadow:none;
		outline:none;
	}

	.btn-lg  {
		padding:2px 0 0 0;
	}

	button {
		width:100%;
		height:40px;
		border-radius: 0 !important;
		margin-top:5px;
		text-align: left;
		font-family: "IntelClear_Rg";
	}

	button:first-child {
		margin-top:27px;
	}

	.last-actions-container{
		overflow:hidden;
		position:relative;
		margin: 25px 25px 60px 25px;
		vertical-align:bottom;
	}

	.last-actions{
		overflow:hidden;
		height:93px;
		position:relative;
	}

	.last-actions:nth-last-of-type(1){
		margin-top:20px;
	}

	.lastAction {
		position:absolute;
		padding-top: 7px;
		color:#fff;
		height:35px;
		font-size:14px;
		bottom:0;
		width:100%;
		font-family: "IntelClear_Rg";

	}

	.lastAction.red {
		background-color:#ec1f27;
	}
	.lastAction.orange {
		background-color:#faa21b;
	}
	.lastAction.dark-orange {
		background-color:#f04e23;
	}
	.lastAction.green {
		background-color:#c3d62d;
	}

	//http://jsfiddle.net/aj0foj9u/10/
	.animate-last-action {
	  background: $intel-light-grey; /* sets color of viewable area */
	  width: 100%; /* sets width of viewable area to container */
	  height:58px; /* sets height of viewable area. Less than 100% removes from bottom */
	  padding:5px 10px 0 20px;
	  line-height: 50px;
	  
	  /* required for animation to work.*/
	  position:absolute;
	  -webkit-transform: translate3d(0,0,0); /* Chrome, Safari, Opera */
	  transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	  -webkit-perspective: 1000;
	  perspective: 1000;

		.sensor-type {
			width:55px;
			text-align:left;
			float:left;
			color:$intel-dark-blue;
			font-size:13px;
			margin-top:7px;
			font-family: "IntelClear_Lt";
			line-height: normal;
		}

		img {
			float:right;
			width: 49px;
		}

	}

	.animate-last-action.slide-down {
	  -webkit-animation:0.5s slide-down normal forwards;
	  animation:0.5s slide-down normal forwards;
	  display: none;
	}

	.animate-last-action.slide-up {
	  -webkit-animation:0.5s slide-up normal forwards;
	  animation:0.5s slide-up normal forwards;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes slide-up
	{
	  0%   {top:80%;}
	  100%  {top:0;}
	}

	/* Standard syntax */
	@keyframes slide-up
	{
	  0%   {top:80%;}
	  100%  {top:0;}
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes slide-down
	{
	  0%  {top:0;}
	  100%   {top:80%;}
	}

	/* Standard syntax */
	@keyframes slide-down
	{
	  0%  {top:0;}
	  100%   {top:80%;}
	}

}



/* Log Status Slider
================================= */
//http://jsfiddle.net/albertonaperijr/aj0foj9u/1/
//http://jsfiddle.net/aj0foj9u/10/

#animation-container {
	position: relative;
	margin:0px 20px 0 20px;
	height:192px;
  position: absolute;
  width: 160px;
  top: 454px;
  z-index: 5;
}

#slide{
  position:absolute;
  height:100px;
  top:90%;
  background: red;
}  

.animate-slide {
  
  position: absolute;
  width: 100%;
  height: 190px;
  left: 52%;
  bottom:0;
  margin: 0 0 0 -82px;

  -webkit-transform: translate3d(0,0,0); /* Chrome, Safari, Opera */
  transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;

	.status-title {
		background: #00aeef; // blue
		color:#fff;
		font-size:12px;
		height:20px;
		padding-top: 3px;
		text-align:center;
		text-transform:uppercase;
		border-top-left-radius:15px;
		border-top-right-radius:15px;
		font-family: "IntelClear_Lt";
	}

	.status-log {

		background-color: #fff;
		padding:3px 10px 15px 20px;
		color:#1c75bc; //blue
		font-size: 13px;
		text-align:left;
		font-family: "IntelClear_Lt";

		.title {
			padding-top:5px;
			font-weight:bold;
		}

		.ng-binding {
			font-size:12px;
		}

	}

} 

.animate-slide.ng-hide-add,
.animate-slide.ng-hide-remove {
  display:block!important;
}

.animate-slide.ng-hide-remove.ng-hide-remove-active, {
  -webkit-animation:0.5s slide-up;
  animation:0.5s slide-up;
}

.animate-slide.ng-hide-add.ng-hide-add-active {
  -webkit-animation:0.5s slide-down;
  animation:0.5s slide-down;
}

.animate-slide.ng-hide {
  top:166px; 
  display:block!important;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slide-up
{
  0%   {top:132px;}
  100%  {top:0;}
}

/* Standard syntax */
@keyframes slide-up
{
  0%   {top:132px;}
  100%  {top:0;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slide-down
{
  0%  {top:0;}
  100%   {top:132px;}
}

/* Standard syntax */
@keyframes slide-down
{
  0%  {top:0px;}
  100%   {top:132px;}
}


/* Status Button Fade
================================= */

.animate-show,
.animate-hide {
  -webkit-transition:all linear .5s;
  -moz-transition:all linear .5s;
  -ms-transition:all linear .5s;
  -o-transition:all linear .5s;
  transition:all linear .5s;
}

.animate-show.ng-hide-remove,
.animate-hide.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.animate-hide.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}

/* Buttons
================================= */

.btn-primary {
    background-color: $intel-light-blue;
    color:$intel-dark-blue;
    border:0;
    font-size: 22px;
}

.btn-primary:active:hover, 
.btn-primary:active:focus, 
.btn-primary:active.focus, 
.btn-primary.active:hover, 
.btn-primary.active:focus, 
.btn-primary.active.focus,
.btn-primary:hover, 
.btn-primary.active {
    background-color: $intel-blue;
    color:$intel-white;
}

/* Active Images
================================= */
.cloud {

	height:50px;
	display:inline-block;

}

#sensor_container{

	position:relative;
	width:100%;
	top:0;
	left:0;

	#the_garage_door{

	    position: absolute;
	    top: 292px;
	    left: 289.5px;
		z-index:2;

		img {
		    width: 424px;
		    height: 216px;
		}

	}

	#the_front_door{

		position:absolute;
	    top: 283px;
	    left: 100px;
		z-index:3;

		img{
		    width: 105.5px;
		    height: 200px;
		}
	}

	#the_door_bell{

	    position: absolute;
	    top: 313px;
	    left: 40px;
	    z-index: 4;

		img{
		    width: 130px;
		    height: 130px;
		}
	}


	.cloudIcon{

	    position: absolute;
	    top: 14px;
	    left: 13px;
	    z-index: 5;

		img{
		    width: 35px;
		    height: 35px;
		}

	}

}

.hidden {
    display:none !important;
    vertical-align:middle;
}

.trigger {
    width:12px;
    height:12px;
    border:1px solid #666;
    background-color:#999;
    position:absolute;
    top:10px;
    right:10px;
    cursor: pointer;
    z-index:9;
    color:white;
    padding:5px;
}

.trigger:active {
    border:2px inset #999;
}

/* Links
================================= */


/* Overlay Notification
================================= */

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    background: rgba(0,0,0,0.6);
    z-index:100;

	#confirmWrapper {
	    width: 50%;
	    position: absolute;
	    top: 30%;
	    left: 25%;
	    text-align:center;
		font-size:20px;
		color:$intel-blue;

		.confirmText {
		    line-height: 90px;
		    margin-bottom:2px;
			font-family: 'IntelClear_Bd';
			background-color:$intel-white;
			border-top-left-radius:5px;
			border-top-right-radius:5px;
		}

		.confirmCancel, .confirmYes {
		    height: 45px;
		    line-height: 45px;
		    float:left;
			font-family: 'IntelClear_Lt';
			background-color:$intel-white;
		    width: 134px;
		    cursor: pointer;
		}

		.confirmCancel {
		    margin-right:2px;
			border-bottom-left-radius:5px;
			border-bottom-right-radius:5px;
			width: 100%;
		}

		.confirmYes {
			border-bottom-right-radius:5px;
		}

		.confirmCancel:hover, .confirmYes:hover {
			color:$intel-dark-blue;
			font-family: 'IntelClear_Bd';
		}

	}

}


/* Logos & Icons
================================= */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
 

/* Bootstrap Helper Classes
================================= */

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/* Media Queries
================================= */

@media screen and (max-width: 436px) {

	#video-container {
		display: $video_display;
		text-align: center;

		video {
			width: 100%;
			margin-left: 1px;
		}

	}

	.container {
		max-width: 432px;
		padding:0;
	}

	#confirmWrapper {
	    width: 70% !important;
	    top: 18% !important;
	    left: 14% !important;

		.confirmText {
		    line-height: 50px !important;
		}

	}

}

@media screen and (max-width: 375px) {

	.controls {

		span {
			font-size: 20px !important;
		}

	}

}

@media screen and (max-width: 319px) {

	.controls {

		span {
			font-size: 16px !important;
		}
		
	}

}


@media screen and (min-width: 436px) {

	.container.mobile-background {
		display:none !important;
	}

}

@media screen and (max-width: 1023px) {

	.container.admin-background {
		display:none !important;
	}

}

@media screen and (min-width: 1024px) {

	body {
	  padding: 0;
	  background-color:#000;
	}

	#video-container {
		display: $video_display;
		text-align: center;

		video {
			width: 1024px;
		}

	}

}

@import "1280px.scss";
@import "modals.scss";

/* end */