$pager-border-radius: 50px !default;
$intel-dark-blue:  #2171b9;
$intel-blue: #00aeef;
$intel-light-blue: #c4dee9;
$intel-white: #fff;
$intel-light-grey: #dfe6e9;
$intel-log-grey: #dbddde;
$intel-dark-grey: #3a3a3c;
$video_display: block;
$background_display: none;

/* Modals
================================= */

.modal-dialog {
	width: 98% !important;
	font-family: 'IntelClear_Lt';
	color:$intel-dark-grey;

	strong {
		font-family: 'IntelClear_Bd';
	}

	.modal-header {
	    padding: 0;
	    margin: 15px;

		.modal-title {
			text-transform:uppercase;
			color: $intel-blue;
			font-family: 'IntelClear_Bd';
		}

		.close {
			font-size: 40px;
			margin: -2px 20px 0 0;
		}

		h4 {
		    margin-top: 18px;
		    font-size: 22px;
		}
		
	}

	.modal-body{
		padding: 0;

		.message {
			font-size:14px;
		}

		.modal-footer {
		  background-color: $intel-blue;
		  margin-top:20px;
		}

	}

}

#showLogModal {

	.modal-dialog {
	    width: 945px !important;

		.log_container{
			overflow:hidden;
			padding-bottom:60px;	
			width: 100%;		

		    .rows.odd {
		        background-color: #f2f2f3;
		    }

		    .rows.even {
		        background-color: #FFF;
		    }

		    .rows{
		    	height:37px;
		    	line-height:37px;

		    	.bg-img {
		 	    	float:left;
					width:80px;   		
		    	}

			    .title { 
			    	float:left;
				    width:130px;
				    font-size: 12px;
				    border-right:2px solid $intel-log-grey;
		    	}

				.bg-img.front_door_lock_locked_icon{
					background: url(../images/front_door_locked_icon.png) no-repeat center center;
				    height: 32px;
				}
				.bg-img.front_door_lock_unlocked_icon{
					background: url(../images/front_door_unlocked_icon.png) no-repeat center center;
				    height: 31px;
				}
				.bg-img.front_door_open_icon{
					background: url(../images/front_door_open_icon.png) no-repeat center center;
				    height: 33px;
		    	}
				.bg-img.front_door_close_icon{
					background: url(../images/front_door_close_icon.png) no-repeat center center;
				    height: 33px;
				}
				.bg-img.front_doorbell_ring_icon{
					background: url(../images/door_bell_ring_icon.png) no-repeat center center;
				    height: 33px;
				}
				.bg-img.garage_door_close_icon{
					background: url(../images/garage_door_closed_icon.png) no-repeat center center;
				    height: 30px;
				}
				.bg-img.garage_door_open_icon{
					background: url(../images/garage_door_open_icon.png) no-repeat center center;
				    height: 29px;
				}
				.bg-img.garage_block_blocked_icon{
					background: url(../images/garage_door_blocked_icon.png) no-repeat center center;
				    height: 34px;
				}

			    .plot {
			    	float:left;
			    	position:relative;
					font-size: 12px;
					text-align: center;

			    	div{
						position:absolute;	    		
						height:414px;
						width:80px;
			    	}

			    	.front_doorbell_ring, .garage_door_open{
						background: url(../images/Time_Marker_Light_Orange.png) no-repeat;
			    	}

			    	.garage_block_blocked{
						background: url(../images/Time_Marker_Red.png) no-repeat;
			    	}

			    	.front_door_close, .front_door_lock_locked, .garage_door_close{
						background: url(../images/Time_Marker_Dark_Orange.png) no-repeat;
			    	}

			    	.front_door_open, .front_door_lock_unlocked{
						background: url(../images/Time_Marker_Green.png) no-repeat;
			    	}

			    	.c0 {
						left:15px;
			    	}
			    	.c1 {
						left:100px;
			    	}
			    	.c2 {
						left:185px;
			    	}
			    	.c3 {
						left:270px;
			    	}
			    	.c4 {
						left:355px;
			    	}
			    	.c5 {
						left:440px;
			    	}
			    	.c6 {
						left:525px;
			    	}
			    	.c7 {
						left:610px;
			    	}


			    }

			}

			.rows:nth-last-of-type(1) {
				height:39px;
				border-bottom:2px solid $intel-log-grey;
			}

		}

		.range {
			width: 100%;

			.date{
				float:left;
				text-align:right;
				width:210px;
				padding-right:30px;
				font-size: 14px;
			}

			.scale{
				float:left;
				height:20px;
				width:75%;
				background-color:$intel-blue;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				overflow:hidden;	

				.border{
					width:85px;
					border-right:5px solid $intel-dark-blue;
					height:20px;
					float:left;
				}

				.border:first-child{
					width:57px;
				}

			}

		}

	}

}

#showSetupModal {

	.parts-hover{
	  opacity: 0.5;
	}

	.parts-hover:hover{
	  opacity: 1;
	}

	.row-centered {
		margin-bottom:40px;

		.sensor{
			width:110px;
	    font-size: 13px;
	    text-align: center;
	    vertical-align: top;
	    margin: 0px 25px;
		}

		.lcd {
			width:205px;
			text-align: center;
		}

		.sheild {
			width:430px;
			text-align: center;
		}

		.nuc {
			width: 400px;
			text-align: center;
		}

		.stepper {
			width:150px;
			text-align: center;
		}

		.motor {
			width:150px;
			text-align: center;
		}

		.arduino {
			width:430px;
			text-align: center;

			img {
				height:200px;
			}
		}


	}

	.popover {
		position: absolute;
	}

	.popover-title {
		color: $intel-blue;
		font-family: 'IntelClear_Bd';
	}

}

#showAboutModal {


}