$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$pager-border-radius: 50px !default;
$intel-dark-blue:  #2171b9;
$intel-blue: #00aeef;
$intel-light-blue: #c4dee9;
$intel-white: #fff;
$intel-light-grey: #dfe6e9;
$intel-log-grey: #dbddde;
$intel-dark-grey: #3a3a3c;
$video_display: block;
$background_display: none;
